@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">'Trash Compactors' Welcomes You!</h5>
    <h4> Where <b>"Trash"</b> is King </h4>
    <br />
    <br />
    <img src="~/Images/Toon-Garbageman.jpg" height="500" width="585" alt="Cartoon Garbageman" asp-append-version="true" />
</div>



